[submodule "ZPUFlex"]
	path = ZPUFlex
	url = https://github.com/robinsonb5/ZPUFlex.git
[submodule "Board/mist/mist-modules"]
	path = Board/mist/mist-modules
	url = https://github.com/mist-devel/mist-modules.git
